@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: url("assets/images/background-pattern-desktop.svg") top no-repeat;
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans";
    font-size: 16px;
}
.faq{
    height:60vh;
    background-color:hsl(0, 0%, 100%);
    width:45vw;
    border-radius: 12px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left:50px;
    padding-right:50px;
    box-shadow:5px 5px 10px  rgb(197, 195, 195);
}
.ans{
    display: none;
    font-weight: 400;
}
h1,.ques{
    color:hsl(292, 42%, 14%)
}
.ans{
    color:hsl(292, 16%, 49%)
}
hr{
    border-top:1px solid rgb(239, 239, 239);
}
.icon{
    position: relative;
    top:6px;
    margin-right: 10px;
}

.ques{
    font-weight: 600;
}
.quest{
    width:100%;
    
}
.right{
    position:relative;
    top:-5px;
    float:right;
}

input{
    background: url(assets/images/icon-plus.svg);
    width: 30px;
    height: 30px;
    border:1px solid white
}
input:active{
    background:url(assets/images/icon-minus.svg)
}
button:active .ans{
    display: block;

}
h1{
    font-size:48px
}